#bgImage {
            background-image: url(../assets/lines.svg);
            background-repeat: no-repeat;
            background-size:  contain;
            background-position: initial;
}

#sandra {
            background-image: url(../assets/sandra.jpeg);
            background-repeat: no-repeat, repeat;
            background-size:  cover;
            background-position: center;
}

#kwami {
            background-image: url(../assets/kwami.jpeg);
            background-repeat: no-repeat, repeat;
            background-size:  cover;
            background-position: center;
}
